@using LANCommander.SDK
@using Microsoft.AspNetCore.Components.Authorization
@inject Client Client
@inject AuthenticationStateProvider AuthenticationStateProvider

<Button OnClick="StartThread">New Thread</Button>

<AntList DataSource="@_threads" TItem="SDK.Models.ChatThread">
    <ListItem OnClick="() => OpenThread(context.Id)">
        <ListItemMeta Title="@context.Id.ToString()">
        </ListItemMeta>
    </ListItem>
</AntList>

<ChatThread Id="_currentThreadId" />

@code {
    IEnumerable<SDK.Models.ChatThread> _threads;

    Guid _currentThreadId;
    
    protected override async Task OnInitializedAsync()
    {
        await Client.Chat.ConnectAsync();
        
        _threads = await Client.Chat.GetThreadsAsync();
    }

    async Task StartThread()
    {
        var user = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        
        var newThreadId = await Client.Chat.StartThreadAsync([user.User.Identity.Name]);

        _currentThreadId = newThreadId;

        await InvokeAsync(StateHasChanged);
    }
    
    async Task OpenThread(Guid threadId)
    {
        _currentThreadId = threadId;
    }
}