.infinite-scroll {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow-y: auto;
    overflow-x: hidden;
}

.sentinel {
    height: 1px;
    width: 100%;
    flex-shrink: 0;
}