<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
	  internalLogFile="internal.log"
      internalLogLevel="Info">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="LANCommander"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<!-- File Target for all log messages with basic details -->
		<target xsi:type="File" name="MainLogFile" fileName="${gdc:StoragePath}/log.txt" archiveEvery="${gdc:ArchiveEvery}" maxArchiveFiles="${gdc:MaxArchiveFiles}" />
		<target xsi:type="File" name="ServicesLogFile" filename="${gdc:StoragePath}/Services/${callsite:className=True:methodName=False}.log" archiveEvery="${gdc:ArchiveEvery}" maxArchiveFiles="${gdc:MaxArchiveFiles}" />
		<target xsi:type="File" name="GameServerLogFile" fileName="${gdc:StoragePath}/Servers/${event-properties:ServerName}.log" archiveEvery="${gdc:ArchiveEvery}" maxArchiveFiles="${gdc:MaxArchiveFiles}" />
		<target xsi:type="GameServerHub" name="GameServerHub" hubUrl="http://localhost:${gdc:PortNumber}/hubs/gameserver" />
		<target xsi:type="LoggingHub" name="LoggingHub" hubUrl="http://localhost:${gdc:PortNumber}/hubs/logging" />
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="LANCommander.*" minlevel="Trace" writeTo="MainLogFile,LoggingHub" />
		<logger name="Microsoft.EntityFrameworkCore.Migrations.*" minlevel="Trace" writeTo="MainLogFile,LoggingHub" />
		<logger name="LANCommander.Services.*" minlevel="Trace" writeTo="ServicesLogFile" />
		<logger name="LANCommander.Services.ServerProcessService" minlevel="Error" writeTo="GameServerLogFile,GameServerHub" />
	</rules>
</nlog>