@page
@model AccessDeniedModel
@{ Layout = "/Views/Shared/_LayoutBasic.cshtml"; }
@{
    ViewData["Title"] = "Access denied";
}

<div class="page page-center">
    <div class="container py-4">
        <div class="empty">
            <div class="empty-header">Access Denied</div>
            <p class="empty-title">You're not allowed to enter this area</p>
            <p class="empty-subtitle text-muted">Your account does not have permission to access this area. Contact an administrator.</p>
            <div class="empty-action">
                <a asp-action="Index" asp-controller="Home" class="btn btn-primary" onclick="history.go(-1)">Take me back</a>
            </div>
        </div>
    </div>
</div>

<audio autoplay>
    <source src="~/static/access-denied.mp3" type="audio/mp3" />
</audio>