@page
@model FirstTimeSetupModel
@{
    Layout = "/Views/Shared/_LayoutBasic.cshtml";
}
@{
    ViewData["Title"] = "First Time Setup";
}

<div class="ant-row ant-row-middle ant-row-space-around" style="min-height: 100vh; margin-top: -24px;">
    <div class="ant-col ant-col-xs-24 ant-col-md-10">

        <div style="text-align: center; margin-bottom: 24px;">
            <img src="~/static/logo.svg" />
        </div>

        <div class="ant-card ant-card-bordered">
            <div class="ant-card-head">
                <div class="ant-card-head-wrapper">
                    <div class="ant-card-head-title">First Time Setup</div>
                </div>
            </div>
            <form asp-route-returnUrl="@Model.ReturnUrl" class="ant-card-body" autocomplete="off">
                <div class="ant-form ant-form-vertical">
                    <div class="ant-form-item">
                        <p>LANCommander is your one stop shop for distributing games on your LAN. Start your adventure with LANCommander and take control of your local multiplayer gaming!</p>
                    </div>

                    <div class="ant-form-item">
                        <div class="ant-form-item-row ant-row">
                            <div class="ant-form-item-label ant-col">
                                <label class="form-label">Register your admin account</label>
                            </div>

                            <div class="ant-form-item-control ant-col">
                                <div class="ant-form-item-control-input">
                                    <div class="ant-form-item-control-input-content">
                                        <input asp-for="Input.UserName" class="ant-input" autocomplete="username" aria-required="true" placeholder="Username" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ant-form-item">
                        <div class="ant-form-item-row ant-row">
                            <div class="ant-form-item-label ant-col">
                                <label asp-for="Input.Password" class="form-label"></label>
                            </div>

                            <div class="ant-form-item-control ant-col">
                                <div class="ant-form-item-control-input">
                                    <div class="ant-form-item-control-input-content">
                                        <input asp-for="Input.Password" class="ant-input" autocomplete="current-password" aria-required="true" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ant-form-item">
                        <div class="ant-form-item-row ant-row">
                            <div class="ant-form-item-label ant-col">
                                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                            </div>

                            <div class="ant-form-item-control ant-col">
                                <div class="ant-form-item-control-input">
                                    <div class="ant-form-item-control-input-content">
                                        <input asp-for="Input.ConfirmPassword" class="ant-input" autocomplete="new-password" aria-required="true" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ant-form-item" style="margin-bottom: 0;">
                        <div class="ant-form-item-row ant-row">
                            <button type="submit" class="ant-btn ant-btn-primary ant-btn-block">Continue</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div style="text-align: center; margin-top: 16px;">
            Don't have account yet? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" tabindex="-1">Register</a>
        </div>
    </div>
</div>