@page
@model LoginModel
@{ Layout = "/Views/Shared/_LayoutBasic.cshtml"; }

@{
    ViewData["Title"] = "Log in";
}

<div class="page page-center">
    <div class="container-tight py-4">
        <div class="text-center mb-4">
            <img src="~/static/logo.svg" />
        </div>

        <form id="account" method="post" class="card card-md" autocomplete="off">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Login to your account</h2>

                <div class="mb-3">
                    <label asp-for="Input.UserName" class="form-label"></label>
                    <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>

                <div class="mb-2">
                    <label asp-for="Input.Password" class="form-label"></label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="mb-2">
                    <label asp-for="Input.RememberMe" class="form-check">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        <span class="form-check-label">@Html.DisplayNameFor(m => m.Input.RememberMe)</span>
                    </label>
                </div>

                <div class="form-footer">
                    <button id="login-submit" type="submit" class="btn btn-primary w-100">Sign in</button>
                </div>
            </div>
        </form>

        <div class="text-center text-muted mt-3">
          Don't have account yet? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" tabindex="-1">Register</a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
