@page "/"
@page "/Dashboard"
@attribute [Authorize]
@using LANCommander.Pages.Dashboard.Charts

<PageHeader Title="Dashboard" Style="margin-bottom: 24px" />

<GridRow Gutter="(16, 16)">
    <GridCol Xs="24" Md="12">
        <Card Title="Overall Playtime">
            <Body>
                <OverallPlaytime />
            </Body>
        </Card>
    </GridCol>

    <GridCol Xs="24" Md="12">
        <Card Title="Storage Usage">
            <Body>
                <StorageUsage />
            </Body>
        </Card>
    </GridCol>
</GridRow>