<div class="col-3 d-none d-md-block border-end">
    <div class="card-body">
        <div class="list-group list-group-transparent">
            <a asp-page="./Index" class="list-group-item list-group-item-action d-flex align-items-center @ManageNavPages.IndexNavClass(ViewContext)">Profile</a>
            <a asp-page="./ChangePassword" class="list-group-item list-group-item-action d-flex align-items-center @ManageNavPages.ChangePasswordNavClass(ViewContext)">Password</a>
        </div>
    </div>
</div>