@using LANCommander.Server.Services.Extensions
@inject PageService PageService

<Space>
    @if (!Editing)
    {
        <SpaceItem>
            <a href="/@Page.Route" target="_blank">/@Page.Route.Substring(0, Page.Route.Length - Page.Slug.Length)<strong>@Page.Slug</strong></a>
        </SpaceItem>

        <SpaceItem>
            <Button Size="@ButtonSize.Small" OnClick="Edit">Edit</Button>
        </SpaceItem>
    }
    else
    {
        <SpaceItem>
            <AntDesign.Input @bind-Value="Page.Slug" OnBlur="GenerateSlug" Size="@InputSize.Small">
                <AddOnBefore>/@Page.Route.Substring(0, Page.Route.Length - Page.Slug.Length)</AddOnBefore>
            </AntDesign.Input>
        </SpaceItem>

        <SpaceItem>
            <Button OnClick="Save">Save</Button>
        </SpaceItem>
    }
</Space>

@code {
    [Parameter] public Page Page { get; set; }
    [Parameter] public EventCallback<Page> PageChanged { get; set; }

    bool Editing { get; set; } = false;

    void Edit()
    {
        Editing = true;
    }

    void GenerateSlug()
    {
        Page.Slug = Page.Slug.ToUrlSlug();
    }

    async Task Save()
    {
        GenerateSlug();

        Page.Route = PageService.RenderRoute(Page);

        if (PageChanged.HasDelegate)
            await PageChanged.InvokeAsync(Page);

        Editing = false;
    }
}
