@using LANCommander.Launcher.Enums
@using Photino.Blazor.CustomWindow.Components
@namespace LANCommander.Launcher.UI
@inherits LayoutComponentBase
@inject AuthenticationClient AuthenticationClient
@inject NavigationManager NavigationManager
@inject LocalizationService LocalizationService

    <CustomWindow HeaderHeight="37">
        <WindowContent>
            <ErrorHandler Title="@LocalizationService.GetString("LauncherCrashed")">
                <Body>
                    <Layout>
                        @Body
                    </Layout>
                    
                    <UpdateChecker/>
                    <AntContainer/>
                </Body>

                <Extra>
                    <Button Type="ButtonType.Primary" OnClick="@(() => NavigationManager.NavigateTo("/", true))">@LocalizationService.GetString("Reload")</Button>
                </Extra>
            </ErrorHandler>
        </WindowContent>
    </CustomWindow>

@code {
    [CascadingParameter(Name = "WindowType")]
    public WindowType WindowType { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        if (await AuthenticationClient.ValidateTokenAsync())
        {
            switch (WindowType)
            {
                case WindowType.Chat:
                    NavigationManager.NavigateTo("/Chat");
                    break;
                case WindowType.Main:
                default:
                    NavigationManager.NavigateTo("/Library");
                    break;
            }
        }
        else
            NavigationManager.NavigateTo("/Authenticate");
    }
}