<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ByteSize" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="8.0.0" targetFramework="net462" />
  <package id="NuGet.CommandLine" version="6.8.0" targetFramework="net462" developmentDependency="true" />
  <package id="PlayniteSDK" version="6.10.0" targetFramework="net462" />
  <package id="PowerShellStandard.Library" version="5.1.1" targetFramework="net462" />
  <package id="RestSharp" version="106.15.0" targetFramework="net462" />
  <package id="rix0rrr.BeaconLib" version="1.0.2" targetFramework="net462" />
  <package id="SharpCompress" version="0.34.2" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.Memory" version="4.5.5" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net462" />
  <package id="System.Text.Encoding.CodePages" version="8.0.0" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net462" />
  <package id="System.Text.Json" version="8.0.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="YamlDotNet" version="5.4.0" targetFramework="net462" />
  <package id="ZstdSharp.Port" version="0.7.2" targetFramework="net462" />
</packages>