.ant-input-group {
    display: flex;
    
    & > .ant-input,
    & > .ant-input-number,
    & > .ant-select {
        width: auto !important;
    }
    
    &-addon,
    &-wrap {
        width: auto;
    }
}