@model LANCommander.Models.EditKeysViewModel

@{
    ViewData["Title"] = "Edit Keys | " + Model.Game.Title;
}

<div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
        <div class="row align-items-center">
            <div class="col">
                <div class="page-pretitle">@Model.Game.Title</div>
                <h2 class="page-title">
                    Edit Keys
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="page-body">
    <div class="container-xl">
        <div class="row row-cards">
            <div class="col-12">
                <form asp-action="Edit" class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="mb-3 textarea-grow-wrap">
                                    <textarea asp-for="Keys" class="form-control" data-bs-toggle="autosize">
                                        @Model.Keys
                                    </textarea>
                                    <span asp-validation-for="Keys" class="text-danger"></span>
                                </div>

                                <input type="hidden" asp-for="Game.Id" />
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="d-flex">
                            <a asp-action="Details" asp-route-id="@Model.Game.Id" class="btn btn-ghost-primary">Cancel</a>
                            <button type="submit" class="btn btn-primary ms-auto">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
