@using AntDesign.Charts
@using ByteSizeLib
@inject PlaySessionService PlaySessionService

<Spin Spinning="Loading">
    <div class="dashboard-chart">
        <Bar Data="Data" Config="Config" JsConfig="@JsConfig" />
    </div>
</Spin>

@code {
    Settings Settings = SettingService.GetSettings();

    object[] Data;

    bool Loading = true;

    string JsConfig = @"{
        meta: {
            playtime: {
                alias: 'Total Playtime',
                formatter: (v) => Math.floor(v / 3600) > 0 ? `${Math.floor(v / 3600)}h ${Math.floor((v % 3600) / 60)}m` : `${Math.floor((v % 3600) / 60)}m`
            }
        },
        label: {
            visible: true,
            type: 'outer-center',
            style: {
                fontSize: '10px'
            }
        }
    }";

    BarConfig Config = new BarConfig
    {
        YField = "player",
        XField = "playtime",
        ColorField = "player",
        ForceFit = true,
        Label = new BarViewConfigLabel
        {
            Visible = false
        }
    };

    protected override async Task OnInitializedAsync()
    {
        Config.Theme = Settings.Theme == LANCommanderTheme.Dark ? "dark" : "light";

        Dictionary<string, TimeSpan> playtimes = new Dictionary<string, TimeSpan>();

        var sessions = await PlaySessionService.Get();

        foreach (var gameSessions in sessions.Where(s => s.GameId.HasValue && s.GameId.Value != Guid.Empty).GroupBy(s => s.UserId))
        {
            var total = new TimeSpan();

            foreach (var session in gameSessions.Where(gs => gs.Start != null && gs.End != null))
            {
                total = total.Add(session.End.Value.Subtract(session.Start.Value));
            }

            playtimes[gameSessions.First().User.UserName] = total;
        }

        Data = playtimes.OrderByDescending(pt => pt.Value).Take(10).Select(pt => new
        {
            Player = pt.Key,
            Playtime = (int)pt.Value.TotalSeconds
        }).ToArray();

        Loading = false;

        StateHasChanged();
    }
}