@using Photino.Blazor.CustomWindow.Components
@inject LocalizationService LocalizationService

<CustomWindow HeaderHeight="37">
    <WindowContent>
        <div style="padding-top: 37px">
            <ErrorHandler Title="@LocalizationService.GetString("LauncherCrashed")">
                <Body>
                <Chat/>

                <AntContainer/>
                </Body>
            </ErrorHandler>
        </div>
    </WindowContent>
</CustomWindow>