<div class="main-window">
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainWindow)" />
        </Found>
        <NotFound>
            <RedirectToRoute Route="/Library" />
        </NotFound>
    </Router>
</div>