<div class="chat-window">
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(ChatWindow)" />
        </Found>
        <NotFound>
            <RedirectToRoute Route="/Chat" />
        </NotFound>
    </Router>
</div>
