.panel-layout {
    background: #fff;
}

.panel-layout-content {
    padding: 0 24px;
}

.panel-layout .ant-layout-content > .ant-page-header-heading {
    padding-top: 0;
}

.panel-layout [data-panel] {
    display: none;
}

[data-theme="Dark"] .panel-layout {
    background: #141414;
}

.ant-select-selector {
    line-height: 30px;
}

.ant-card .ant-form > .ant-form-item {
    margin-bottom: 12px;
}

.ant-card .ant-form > .ant-form-item:last-child {
    margin-bottom: 0;
}

.uploader-progress .ant-progress-outer {
    padding-right: 0;
    margin-right: 0;
}

.uploader-progress .ant-progress-bg {
    transition: none;
}

.menu-drawer {
    margin-top: 63px;
}

.menu-drawer .ant-drawer-content {
    background: #001529;
}

.menu-drawer .ant-drawer-header-no-title {
    display: none;
}

.menu-drawer .ant-drawer-body {
    padding: 0;
}

.menu-drawer .ant-drawer-wrapper,
.menu-drawer .ant-drawer-content {
    height: auto;
}

.menu-drawer .ant-drawer-content-wrapper {
    height: auto !important;
}

.mobile-header .ant-btn {
    color: #fff;
    position: absolute;
    right: 16px;
}

.file-manager {
    background: #fff;
    display: flex;
    flex-direction: column;
}

.file-manager-nav {
    border-bottom: 1px solid #f0f0f0;
    padding-left: 8px;
    padding-right: 8px;
    height: 58px;
}

.file-manager-nav .ant-space {
    flex-grow: 1;
}

.file-manager-nav-breadcrumbs {
    flex-grow: 1;
}

.file-manager-nav .ant-breadcrumb {
    font-size: 16px;
    padding: 8px;
    background: rgba(0, 0, 0, 0.018);
}

.file-manager-nav .ant-breadcrumb-link {
    border-radius: 2px;
    border: 1px solid transparent;
    padding: 4px 8px;
    cursor: pointer;
}

.file-manager-nav .ant-breadcrumb-link:hover,
.file-manager-nav .ant-breadcrumb-link:active {
    background: rgba(0, 0, 0, 0.018);
}

.file-manager .file-manager-body {
    flex-grow: 1;
}

.file-manager .ant-tree-treenode {
    padding-left: 4px;
}

.file-manager .ant-tree-treenode:hover,
.file-manager .ant-tree-treenode:active {
    background: rgba(0, 0, 0, 0.018);
}

.file-manager-tree {
    padding-top: 8px;
    border-right: 1px solid #f0f0f0;
}

.file-manager .ant-tree-node-content-wrapper {
    flex-grow: 1;
    padding-top: 4px;
    padding-bottom: 4px;
}

.file-manager .ant-tree-node-content-wrapper:hover {
    background: none;
}

.file-manager .ant-tree-switcher .ant-tree-switcher-icon {
    vertical-align: middle;
    margin-top: 4px;
}

.file-picker-dialog .ant-modal-body {
    padding: 0;
}

.file-picker-dialog .file-manager {
    height: calc(100vh - 55px - 53px);
}

.file-manager-selector-hidden .ant-radio-wrapper {
    display: none;
}

[data-theme="Dark"] .file-manager,
[data-theme="Dark"] .file-manager-list,
[data-theme="Dark"] .file-picker-dialog .file-manager tbody tr {
    background: #141414;
}

[data-theme="Dark"] .file-manager-tree,
[data-theme="Dark"] .file-manager-nav {
    border-color: #303030;
    background: #141414;
}

[data-theme="Dark"] .file-manager .ant-tree-treenode:hover,
[data-theme="Dark"] .file-manager .ant-tree-treenode:active,
[data-theme="Dark"] .file-manager-nav .ant-breadcrumb-link:hover,
[data-theme="Dark"] .file-manager-nav .ant-breadcrumb-link:active {
    background: rgba(255, 255, 255, 0.03);
}

.image-picker-images {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.image-picker-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-picker-image img {
    border: 4px solid transparent;
    border-radius: 2px;
    max-height: 100%;
    max-width: 100%;
}

.image-picker-image input {
    display: none;
}

.image-picker-image input + label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.image-picker-image input:checked ~ img {
    border-color: #1890ff;
}

.media-editor img {
    max-width: 100px;
    max-height: 100px;
}

.media-grabber-group {
    margin-top: 18px;
}

.media-grabber-group + .media-grabber-group {
    padding-top: 16px;
    border-top: 1px solid rgba(0, 0, 0, 0.85);
}

[data-theme="Dark"] .media-grabber-group + .media-grabber-group {
    border-top: 1px solid rgba(255, 255, 255, 0.12);
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .mobile-header {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2000;
    }

    .ant-header:not(.mobile-header) {
        display: none;
    }

    .ant-header .logo {
        margin-right: 0 !important;
        float: none;
    }

    .ant-layout-content {
        margin-top: 63px;
    }
}

@media (max-width: 960px) {
    .ant-scrolling-effect {
        overflow: visible !important;
        width: 100% !important;
    }

    .ant-table-responsive .ant-table-tbody .ant-table-row > .ant-table-cell:first-child {
        padding-top: 16px;
    }

    .ant-table-responsive .ant-table-tbody .ant-table-row > .ant-table-cell:last-child {
        padding-bottom: 16px;
    }

    .ant-table-responsive .ant-table-tbody .ant-table-cell {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .ant-table-responsive .ant-table-tbody .ant-table-cell:before {
        flex-grow: 1;
    }

    .ant-layout.ant-layout-has-sider {
        flex-direction: column
    }

    .ant-layout-sider {
        max-width: 100% !important;
        width: 100% !important;
    }

    .ant-layout.ant-layout-has-sider > .ant-layout, .ant-layout.ant-layout-has-sider > .ant-layout-content {
        width: 100%
    }
}