.authentication-provider-container {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.authentication-provider-button-group {
    display: inline-flex;
    flex-direction: column;
    gap: 16px;

    .ant-btn {
        text-align: left;
        width: 100%;
    }
}