.pdf-reader-dialog {
    .ant-modal-content {
        resize: both !important;
    }

    .ant-modal-body {
        padding: 0;
        height: 100%;
    }

    .ant-modal-close-x,
    .ant-modal-max-btn-x {
        width: 32px;
        height: 32px;
        line-height: 32px;
    }

    .ant-modal-max-btn {
        right: 32px;
        color: rgba(255, 255, 255, 0.45);
    }

    .ant-modal-header {
        padding: 6px 8px;
    }
}
