@page "/Settings/Roles/{id:guid}"
@inherits OwningComponentBase
@using LANCommander.Server.Models;
@inject IMessageService MessageService
@inject NavigationManager NavigationManager
@inject ILogger<Edit> Logger
@attribute [Authorize(Roles = RoleService.AdministratorRoleName)]

<PageHeader Title="Edit Role">
    <PageHeaderExtra>
        <Space Direction="DirectionVHType.Horizontal">
            <SpaceItem>
                <Button Type="@ButtonType.Primary" OnClick="Save">Save</Button>
            </SpaceItem>
        </Space>
    </PageHeaderExtra>
</PageHeader>

<div style="padding: 0 24px;">
    <Form Model="@Role" Layout="@FormLayout.Vertical">
        <FormItem Label="Name">
            <Input @bind-Value="Role.Name" />
        </FormItem>
        <FormItem Label="Collections">
            <TransferInput LeftTitle="Available" RightTitle="Allowed" DataSource="Collections" TitleSelector="c => c.Name" @bind-Values="Role.Collections" />
        </FormItem>
    </Form>
</div>

@code {
    [Parameter] public Guid Id { get; set; }

    RoleService RoleService;
    CollectionService CollectionService;

    Role Role = new Role();
    IEnumerable<Collection> Collections = new List<Collection>();

    protected override async Task OnInitializedAsync()
    {
        RoleService = ScopedServices.GetService<RoleService>()!;
        CollectionService = ScopedServices.GetService<CollectionService>()!;

        Role = await RoleService.GetAsync(Id);
        Collections = await CollectionService.GetAsync();
    }

    private async Task Save()
    {
        try
        {
            await RoleService.UpdateAsync(Role);

            MessageService.Success("Role updated!");
        }
        catch (Exception ex)
        {
            MessageService.Error("Role could not be updated!");
            Logger.LogError(ex, "Role could not be updated!");
        }
    }
}
