@forward 'Styles/_blazor-error';
@forward 'Styles/_layout';
@forward 'Styles/_panel-layout';
@forward 'Styles/_menu';
@forward 'Styles/_pdf-reader';
@forward 'Styles/_markdown-editor';
@forward 'Styles/_authentication-provider';
@forward 'Components/Chat/Chat.razor';
@forward 'Components/Chat/ChatList.razor';
@forward 'Components/Chat/ChatListThread.razor';
@forward 'Components/Chat/ChatMessage.razor';
@forward 'Components/Chat/ChatMessageInput.razor';
@forward 'Components/Chat/ChatThread.razor';
@forward 'Components/ChunkUploader/ChunkUploader.razor';
@forward 'Components/DataList/DataList.razor';
@forward 'Components/DataTable/DataTable.razor';
@forward 'Components/FileManager/FileManager.razor';
@forward 'Components/InputGroup/InputGroup.razor';
@forward 'Components/SplitPane/SplitPane.razor';
@forward 'Components/SafeAvatar/SafeAvatar.razor';
@forward 'Components/SafeImage/SafeImage.razor';
@forward 'Components/TransferInput/TransferInput.razor';
