@using LANCommander.SDK.Models
@inject SDK.Client Client
@inject DepotService DepotService
@inject LibraryService LibraryService
@inject IMessageService MessageService
@inject ILogger<DepotGame> Logger

<div class="depot-game">
    <div class="depot-game-cover" @onclick="() => OnClick.InvokeAsync(Item)">
        @if ((Item.DataItem as DepotGame).Cover != null)
        {
            <img src="@Client.Media.GetAbsoluteThumbnailUrl((Item.DataItem as DepotGame).Cover)" />
        }
        else
        {
            <div class="depot-game-default-cover">
                <span>@Item.Name</span>
            </div>
        }

        @if (!(Item.DataItem as DepotGame).InLibrary)
        {
            <Button class="depot-game-add-btn" Type="@ButtonType.Primary" Icon="@IconType.Outline.Plus" Loading="Importing" OnClickStopPropagation="true" OnClick="AddToLibrary" />
        }
    </div>
</div>

@code {
    [Parameter] public Models.ListItem Item { get; set; }
    [Parameter] public EventCallback<Models.ListItem> OnClick { get; set; }

    bool Importing = false;

    async Task AddToLibrary()
    {
        try
        {
            Importing = true;
            StateHasChanged();
            await Task.Yield();

            await LibraryService.AddToLibraryAsync(Item.Key);

            Importing = false;
            StateHasChanged();
            await Task.Yield();

            MessageService.Success($"{Item.Name} was added to your library!");
        }
        catch (Exception ex)
        {
            Importing = false;
            StateHasChanged();
            await Task.Yield();

            Logger?.LogError(ex, $"{Item.Name} ({Item.Key}) could not be added to your library!");
            MessageService.Error($"{Item.Name} could not be added to your library!");
        }
    }
}
