.image-picker-images {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.image-picker-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-picker-image img {
    border: 4px solid transparent;
    border-radius: 2px;
    max-height: 100%;
    max-width: 100%;
}

.image-picker-image input {
    display: none;
}

.image-picker-image input + label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.image-picker-image input:checked ~ img {
    border-color: #1890ff;
}