.layout {
    min-height: 100vh;
}

.ant-header {
    display: flex;
}

.ant-layout-has-sider > .ant-flex {
    flex-grow: 1;
}

.ant-layout-content {
    background: #141414;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;

    & > .ant-table-wrapper {
        .ant-table-pagination {
            margin: 24px;
            margin-bottom: 0;
        }
    }
}