.layout {
    min-height: 100vh;
}

.layout-wrapper {
    padding: 24px;
}

.ant-header {
    display: flex;
}

.ant-layout-has-sider > .ant-flex {
    flex-grow: 1;
}

.ant-layout-content {
    background: #141414;
    display: flex;
    flex-direction: column;
    flex: unset;

    & > .ant-table-wrapper {
        .ant-table-pagination {
            margin: 24px;
            margin-bottom: 0;
        }
    }
}

.ant-layout-footer {
    text-align: center;
}