.packaging-terminal {
    border: 1px solid var(--lc-border-subtle-color);
    border-radius: var(--lc-radius-md);
    overflow: hidden;
    min-height: 300px;
    background: var(--lc-well);

    .xterm {
        padding: 8px;
    }
}
