.ant-table-cell-with-append {
    padding-left: 8px !important;
}

.ant-table-row-indent + .ant-table-row-expand-icon {
    margin-right: 16px;
}

.ant-table-row-level-1 {
    background: #0a0a0a;
}

.ant-table + .ant-pagination {
    padding: 12px;
}

.table-toolbar {
    padding: 12px;
    
    .ant-input-search {
        width: auto;
    }
}

.ant-table-row-indent + .ant-table-row-expand-icon {
    vertical-align: middle;
    display: inline;
    float: none;
    margin-top: 0;
}

.table-data-actions {
    text-align: right;
}