.chat-thread {
    height: 100%;
    flex-grow: 1;
    background: #141414;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.chat-thread-messages {
    flex: 1 1 0;
    min-height: 0;
    padding: 1em;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
    .infinite-scroll {
        flex: 1 1 0;
        min-height: 0;
        overflow-y: auto;
        overflow-x: hidden;
    }
}