@using LANCommander.SDK.Services
@namespace LANCommander.UI.Components
@inject IChatClient ChatClient

<MouseArea Cursor="Cursors.Pointer" OnClick="OnClick">
    <Flex Class="@_cssClass">
        <div class="chat-list-thread-avatar">
            @if (Thread.Participants.Count == 2)
            {
                <Badge Count="_unreadCount" OverflowCount="99">
                    <SafeAvatar
                        Shape="AvatarShape.Square"
                        Size="AvatarSize.Large"
                        Username="@Thread.Participants.First().Name" />
                </Badge>
            }
            else
            {
                <Badge Count="_unreadCount" OverflowCount="99">
                    <SafeAvatarGroup
                        Shape="AvatarShape.Square"
                        Size="AvatarSize.Large"
                        Usernames="@Thread.Participants.Select(p => p.Name)" />
                </Badge>
            }
        </div>
        
        <div class="chat-list-thread-title">
            @Thread.Title
        </div>
    </Flex>
</MouseArea>

@code {
    [Parameter] public required SDK.Models.ChatThread Thread { get; set; }
    [Parameter] public EventCallback<SDK.Models.ChatThread> OnSelected { get; set; }
    [Parameter] public bool Active { get; set; }

    int _unreadCount = 0;
    string _cssClass = String.Empty;

    protected override async Task OnParametersSetAsync()
    {
        _unreadCount = await ChatClient.GetUnreadMessageCountAsync(Thread.Id);
        
        _cssClass = new ClassBuilder()
            .Add("chat-list-thread")
            .If(() => Active, "chat-list-thread-active")
            .Build();
    }

    async Task OnClick(MouseEventArgs args)
    {
        if (OnSelected.HasDelegate)
            await OnSelected.InvokeAsync(Thread);
    }
}