/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1890ff;
  --ifm-color-primary-dark: #096dd9;
  --ifm-color-primary-darker: #0050b3;
  --ifm-color-primary-darkest: #003a8c;
  --ifm-color-primary-light: #40a9ff;
  --ifm-color-primary-lighter: #69c0ff;
  --ifm-color-primary-lightest: #91d5ff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* AntDesign dark theme colors */
[data-theme='dark'] {
  --ifm-color-primary: #1890ff;
  --ifm-color-primary-dark: #096dd9;
  --ifm-color-primary-darker: #0050b3;
  --ifm-color-primary-darkest: #003a8c;
  --ifm-color-primary-light: #40a9ff;
  --ifm-color-primary-lighter: #69c0ff;
  --ifm-color-primary-lightest: #91d5ff;
  
  /* AntDesign dark background colors */
  --ifm-background-color: #141414;
  --ifm-navbar-background-color: #141414;
  --ifm-footer-background-color: #141414;
  --ifm-card-background-color: #1f1f1f;
  
  /* AntDesign dark text colors */
  --ifm-color-content: rgba(255, 255, 255, 0.85);
  --ifm-color-content-secondary: rgba(255, 255, 255, 0.65);
  
  /* Borders and dividers */
  --ifm-color-emphasis-200: rgba(255, 255, 255, 0.08);
  --ifm-color-emphasis-300: rgba(255, 255, 255, 0.12);
  
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
