@using LANCommander.Server.Services;
@using Microsoft.AspNetCore.Components.Web
@namespace LANCommander.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject SettingService SettingService

@{
    var settings = SettingService.GetSettings();
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <base href="~/" />

        @switch (SettingService.GetSettings().Theme)
        {
            case Models.LANCommanderTheme.Light:
                <link href="_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet" />
                break;

            case Models.LANCommanderTheme.Dark:
                <link href="_content/AntDesign/css/ant-design-blazor.dark.css" rel="stylesheet" />
                break;
        }

        <link href="_content/XtermBlazor/XtermBlazor.css" rel="stylesheet" />

        <link href="~/css/site.css" rel="stylesheet" />
    </head>
    <body data-theme="@settings.Theme">
        

        <div class="page-wrapper">
            @RenderBody()
        </div>

        <script src="~/lib/antv/g2plot/dist/g2plot.js"></script>
        <script src="~/_content/AntDesign/js/ant-design-blazor.js"></script>
        <script src="~/_content/AntDesign.Charts/ant-design-charts-blazor.js"></script>
        <script src="~/_framework/blazor.server.js"></script>

        <script src="~/_content/XtermBlazor/XtermBlazor.min.js"></script>
        <script src="~/lib/xterm-addon-fit/lib/xterm-addon-fit.min.js"></script>
        <script>XtermBlazor.registerAddons({ "xterm-addon-fit": new FitAddon.FitAddon() });</script>

        <script src="~/_content/BlazorMonaco/jsInterop.js"></script>
        <script src="~/_content/BlazorMonaco/lib/monaco-editor/min/vs/loader.js"></script>
        <script src="~/_content/BlazorMonaco/lib/monaco-editor/min/vs/editor/editor.main.js"></script>

        <script src="~/scripts/dist/bundle.js"></script>

        <script>
            Uploader.MaxChunkSize = @(settings.Archives.MaxChunkSize * 1024 * 1024)
        </script>
    </body>
</html>
