@using LANCommander.Server.Services.Abstractions
@inherits LayoutComponentBase
@inject IVersionProvider VersionProvider
@inject NavigationManager NavigationManager

<Layout Class="layout">
    <Sidebar />

    <Flex Vertical Justify="FlexJustify.SpaceBetween" Gap="FlexGap.Large" Class="layout-wrapper" >
        <ErrorHandler Title="Unexpected Error">
            <Body>
            <Content>
                <ServerProcessMonitor>
                    @Body
                </ServerProcessMonitor>
            </Content>
            </Body>
            <Extra>
                <Button Type="ButtonType.Primary" OnClick="@(() => NavigationManager.Refresh())">Refresh</Button>
            </Extra>
        </ErrorHandler>

        <Footer>
            LANCommander v@(VersionProvider.GetCurrentVersion().WithoutMetadata().ToString())
        </Footer>
    </Flex>
</Layout>