.file-manager {
    display: flex;
    flex-direction: column;
    background: #141414;

    &-nav {
        border-bottom: 1px solid #303030;
        padding-left: 8px;
        padding-right: 8px;
        height: 58px;
        background: #141414;

        .ant-space,
        &-breadcrumbs {
            flex-grow: 1;
        }

        .ant-breadcrumb {
            font-size: 16px;
            padding: 8px;
            background: rgba(0, 0, 0, 0.018);

            &-link {
                border-radius: 2px;
                border: 1px solid transparent;
                padding: 4px 8px;
                cursor: pointer;

                &:hover,
                &:active {
                    background: rgba(0, 0, 0, 0.018);
                }
            }
        }
    }

    &-body {
        flex-grow: 1;
    }

    .ant-tree-treenode {
        padding-left: 4px;

        &-selected {
            background-color: #11263c;
        }

        &:hover,
        &:active {
            background: rgba(255, 255, 255, 0.03);
        }
    }

    .ant-tree-title {
        white-space: nowrap;
    }

    &-tree {
        padding-top: 8px;
        border-right: 1px solid #303030;
    }

    .ant-tree-node-content-wrapper {
        flex-grow: 1;
        padding-top: 4px;
        padding-bottom: 4px;

        &:hover,
        &:active {
            background: rgba(255, 255, 255, 0.03);
        }
    }

    .ant-tree-switcher-icon {
        vertical-align: middle;
        margin-top: 4px;
    }
}