.split-pane {
    display: flex;
    flex-direction: row;

    .pane {
        overflow-x: scroll;
    }
}

.gutter {
    cursor: e-resize;
    position: relative;
    width: 0;
    
    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -5px;
        width: 10px;
        background: #303030;
        opacity: 0;
        transition: opacity .1s;
    }
    
    &:hover::after {
        opacity: 1;
    }
}