@using LANCommander.UI.Extensions
@using Microsoft.JSInterop
@inject IJSRuntime JS
@namespace LANCommander.UI.Components

<CascadingValue Value="this" IsFixed="@true">
    <div id="split-pane-@(_paneId.ToString())" class="split-pane @Class" style="@Style">
        @ChildContent
    </div>
</CascadingValue>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public string Style { get; set; } = "";

    private readonly Guid _paneId = Guid.NewGuid();
    private IJSObjectReference? _splitPane;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            _splitPane = await JS.CreateAsync("SplitPane", _paneId);
    }
}