.appbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 300;
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(3px);
}

.appbar-profile-button {
    position: relative;
    overflow: hidden;

    &:focus span,
    &:active span {
        position: static
    }

    img + span {
        padding-left: 32px;
    }

    img {
        width: 32px;
        height: 32px;
        position: absolute;
        top: -1px;
        left: -1px;
    }
}

.appbar-draggable-titlebar {
    flex-grow: 1;
    height: 32px;
    display: block;

    & > div {
        cursor: move;
        height: 32px;
        width: 100%;
    }
}