.split-pane {
    display: flex;
    flex-direction: row;

    .pane {
        overflow-x: scroll;
        position: relative;
    }

    .gutter {

        &-vertical {
            cursor: ns-resize;
        }

        &-horizontal {
            cursor: ew-resize;
        }
    }
}
