:root {
    --pb-custom-window-main-color: #000;
    --pb-custom-window-main-unfocused-color: #000;
    --pb-custom-window-background-color: #000;
    --pb-custom-window-title-color: #fff;
    --pb-custom-window-controls-color: #fff;
    --pb-custom-window-close-control-background: firebrick;
    --pb-custom-window-controls-background: rgba(0,0,0,.25); /* rgba(255,255,255,.25); */
    --pb-custom-window-controls-background-hover: rgba(0,0,0,.5); /* rgba(255,255,255,.5); */
}

.pb-custom-window {
    & > * {
        position: absolute;
        z-index: 500;
    }

    &-content {
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        display: flex;
        flex-direction: column;
        
        &.overflow {
            top: 0 !important;
        }

        &::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            height: 37px;
            backdrop-filter: blur(3px);
            z-index: 700;
            background: rgba(0, 0, 0, .5);
        }
    }

    &-drag-area {
        background: none !important;
    }

    &-controls {
        background: none !important;

        .ant-btn-icon-only > * {
            font-size: 22px;
            display: flex;
            justify-content: center;
        }

        .ant-btn.ant-btn-loading::before {
            display: none;
        }
    }

    &-control-button {
        border-radius: 0;
    }

    &-title {
        display: none;
    }

    &-header {
        display: none;
    }

    &-resize-thumb {
        z-index: 9999;
    }
}
