@page "/"
@page "/Dashboard"
@attribute [Authorize]
@using LANCommander.Server.UI.Pages.Dashboard.Charts

<PageHeader Title="Dashboard" Style="margin-bottom: 24px" />

<GridRow Gutter="(16, 16)">
    <GridCol Xs="24" Md="12">
        <Card Title="Top 10 Total Playtime (By Player)" Bordered="false">
            <Body>
                <TopPlayersPlaytime />
            </Body>
        </Card>
    </GridCol>

    <GridCol Xs="24" Md="12">
        <Card Title="Top 10 Total Playtime (By Game)" Bordered="false">
            <Body>
                <TopGamesPlaytime />
            </Body>
        </Card>
    </GridCol>

    <GridCol Xs="24">
        <Card Title="Top Average Session Length (By Game)" Bordered="false">
            <Body>
                <TopGamesAverageSessionPlaytime />
            </Body>
        </Card>
    </GridCol>
</GridRow>