@page "/Settings/IPXRelay"
@using LANCommander.Server.Models;
@layout SettingsLayout
@inject SettingService SettingService
@inject IPXRelayService IPXRelayService
@inject IMessageService MessageService
@inject ILogger<IPXRelay> Logger
@attribute [Authorize(Roles = "Administrator")]

<PageHeader Title="IPX Relay" />

<div style="padding: 0 24px;">
    <Form Model="Settings" Layout="@FormLayout.Vertical">
        <FormItem Label="Enable">
            <Switch @bind-Checked="context.IPXRelay.Enabled" />
        </FormItem>

        <FormItem Label="Host">
            <Text Type="@TextElementType.Secondary">Use this to customize the host that is broadcasted to clients.</Text>
                <Input @bind-Value="context.IPXRelay.Host" />
        </FormItem>

        <FormItem Label="Port">
            <AntDesign.InputNumber @bind-Value="context.IPXRelay.Port" Max="65535" />
        </FormItem>

        <FormItem Label="Logging">
            <Switch @bind-Checked="context.IPXRelay.Logging" />
        </FormItem>

        <FormItem>
            <Button OnClick="Save" Type="@ButtonType.Primary">Save</Button>
        </FormItem>
    </Form>
</div>

@code {
    LANCommanderSettings Settings;

    protected override async Task OnInitializedAsync()
    {
        Settings = SettingService.GetSettings();
    }

    private void Save()
    {
        try
        {
            SettingService.SaveSettings(Settings);
            MessageService.Success("Settings saved!");

            IPXRelayService.Init();
        }
        catch (Exception ex)
        {
            MessageService.Error("An unknown error occurred.");
            Logger.LogError(ex, "An unknown error occurred.");
        }
    }
}
