@page "/Settings/Launcher"
@using LANCommander.Server.Jobs.Background
@inject IMessageService MessageService
@inject ILogger<Updates> Logger
@attribute [Authorize(Roles = RoleService.AdministratorRoleName)]

<PageHeader Title="Launcher">
    <PageHeaderExtra>
        <Button OnClick="DownloadLaunchers" Disabled="!Settings.Launcher.HostUpdates">Download Launchers</Button>
    </PageHeaderExtra>
</PageHeader>

<PageContent>
    <Form Model="Settings" Layout="@FormLayout.Vertical">
        <FormItem Label="Storage Path">
            <FilePicker Root="@RootPath" EntrySelectable="x => x is FileManagerDirectory" @bind-Value="@context.Launcher.StoragePath" OkText="Select Path" Title="Choose Path" OnSelected="OnPathSelected" />
        </FormItem>

        <FormItem Label="Host Client Updates">
            <Switch @bind-Checked="context.Launcher.HostUpdates" />
        </FormItem>
        
        <FormItem Label="Architectures">
            <EnumSelect
                TEnum="LauncherArchitecture"
                Mode="SelectMode.Multiple"
                Disabled="!context.Launcher.HostUpdates"
                @bind-Values="context.Launcher.Architectures" />
        </FormItem>
        
        <FormItem Label="Platforms">
            <EnumSelect
                TEnum="LauncherPlatform"
                Mode="SelectMode.Multiple"
                Disabled="!context.Launcher.HostUpdates"
                @bind-Values="context.Launcher.Platforms" />
        </FormItem>

        <FormItem>
            <Button OnClick="Save" Type="@ButtonType.Primary">Save</Button>
        </FormItem>
    </Form>
</PageContent>

@code {
    Settings Settings = SettingService.GetSettings();

    string RootPath = Path.GetPathRoot(Directory.GetCurrentDirectory());

    void Save()
    {
        try
        {
            SettingService.SaveSettings(Settings);
            MessageService.Success("Settings saved!");
        }
        catch (Exception ex)
        {
            MessageService.Error("An unknown error occurred.");
            Logger.LogError(ex, "An unknown error occurred.");
        }
    }

    void OnPathSelected(string path)
    {
        var appPath = Directory.GetCurrentDirectory();

        if (path != null && path.StartsWith(appPath))
            path = path.Substring(appPath.Length).TrimStart(Path.DirectorySeparatorChar).TrimEnd(Path.DirectorySeparatorChar);

        Settings.Launcher.StoragePath = path;
    }

    async Task DownloadLaunchers()
    {
        Hangfire.BackgroundJob.Enqueue<DownloadLauncherArtifacts>(x => x.ExecuteAsync());

        MessageService.Success("Launchers will be downloaded in the background!");
    }
}
