@page "/Settings/Scripts"
@using LANCommander.SDK.Enums
@using LANCommander.Server.Settings
@using Microsoft.Extensions.Options
@inject MessageService MessageService
@inject ILogger<Scripts> Logger
@inject IOptions<Settings> Settings
@inject SettingsProvider<Settings> SettingsProvider
@attribute [Authorize(Roles = RoleService.AdministratorRoleName)]

<PageHeader Title="Scripts" />

<PageContent>
    <Form Model="Settings.Value" Layout="@FormLayout.Vertical">
        <FormItem Label="Automatically Repackage">
            <Switch @bind-Checked="context.Server.Scripts.EnableAutomaticRepackaging" />
        </FormItem>
        <FormItem Label="Repackage Every">
            <Flex Direction="FlexDirection.Horizontal">
                <AntDesign.InputNumber @bind-Value="context.Server.Scripts.RepackageEvery" Min="1" DefaultValue="25" />
                <Text>Hours</Text>
            </Flex>
        </FormItem>

        <FormItem>
            <Button OnClick="Save" Type="@ButtonType.Primary">Save</Button>
        </FormItem>
    </Form>
    
    <ScriptEditor AllowedTypes="new[] { ScriptType.UserLogin, ScriptType.UserRegistration }"/>
</PageContent>

@code {
    void Save()
    {
        try
        {
            SettingsProvider.Update(s =>
            {
                s.Server.Scripts = Settings.Value.Server.Scripts;
            });
            
            MessageService.Success("Settings saved!");
        }
        catch (Exception ex)
        {
            MessageService.Error("An unknown error occurred.");
            Logger.LogError(ex, "An unknown error occurred.");
        }
    }
}