@model LANCommander.Server.Models.ProviderButtonsModel

<div class="authentication-provider-container">
    <div class="authentication-provider-button-group">
        @foreach (var provider in Model.Providers)
        {
            <div class="authentication-provider-button">
                <form method="post">
                    <input type="hidden" name="Provider" value="@provider.Slug"/>
                    <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl"/>

                    <button class="ant-btn ant-btn-primary ant-btn-block" type="submit" style="@(!String.IsNullOrWhiteSpace(provider.Color) ? $"background-color: {provider.Color}; border-color: {provider.Color}" : "")">
                        @if (!String.IsNullOrWhiteSpace(provider.Icon))
                        {
                            <span class="anticon" role="img">
                                <svg focusable="false" width="1em" height="1em" fill="currentColor">
                                    <use xlink:href="_content/LANCommander.UI/bootstrap-icons.svg#@provider.Icon"/>
                                </svg>
                            </span>
                        }

                        <span>Sign in using @provider.Name</span>
                    </button>
                </form>
            </div>
        }
    </div>
</div>
