@using LANCommander.Components;
@model LANCommander.Data.Models.Archive

@{
    ViewData["Title"] = "Browse Archive";
}

<div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
        <div class="row align-items-center">
            <div class="col">
                <div class="page-pretitle">@Model.Game.Title</div>
                <h2 class="page-title">
                    Browse Archive
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="page-body">
    <div class="container-xl">
        <div class="row row-cards">
            <div class="col-12">
                <div class="card">
                    <component type="typeof(ArchiveBrowser)" render-mode="Server" param-ArchiveId="Model.Id" />
                </div>
            </div>
        </div>
    </div>
</div>
