.game-cover {
    img {
        width: 100%;
    }
}

.game-metadata {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 32px;
    padding-bottom: 32px;

    &-description {
        text-align: justify;
    }

    h3 {
        font-weight: bold;
        margin-bottom: 0;
    }
}