.library-list {
    position: relative;
    z-index: 500;
    width: 320px;
    margin-top: 74px;
    min-height: calc(100% - 74px);
    flex-shrink: 0;

    .ant-collapse {
        border: none;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100%;


        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 10px;
            background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
            z-index: 600;
        }

        &-content {
            padding-top: 8px;
            padding-bottom: 8px;
        }

        & > .ant-collapse-item.no-header {
            & > .ant-collapse-header {
                display: none;
            }

            & > .ant-collapse-content {
                display: block;
            }
        }

        & > .ant-collapse-item > .ant-collapse-header {
            padding: 10px 12px;

            .ant-collapse-arrow {
                margin: 0;
                margin-right: 12px;
                padding-left: 6px;
                padding-right: 6px;
            }
        }
    }

    .ant-list-item {
        cursor: pointer;
        white-space: nowrap;
        gap: 12px;
        padding: 5px 12px;
        border: none;
        color: #aaa;

        &.installed {
            font-weight: 400;
            color: #fff;
        }

        .library-list-icon {
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;

            img {
                width: 24px;
                height: 24px;
                object-fit: cover;
            }
        }

        span {
            flex-grow: 1;
        }
    }

    .ant-empty {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: rgba(255, 255, 255, 0.04);
    }

    .ant-collapse-header-text {
        cursor: pointer;
        white-space: nowrap;
    }
}