@page "/Settings/Logs"
@using LANCommander.Server.UI.Pages.Settings.Logs.Components
@inject IMessageService MessageService
@inject ILogger<Index> Logger

<PageHeader Title="Logs">
    <PageHeaderExtra>
        <Button OnClick="Save" Type="@ButtonType.Primary">Save</Button>
    </PageHeaderExtra>
</PageHeader>

<PageContent>
    <Flex Direction="FlexDirection.Vertical" Gap="FlexGap.Large">
        <Collapse>
            @foreach (var provider in Providers)
            {
                <Panel Header="@provider.Name">
                    <ExtraTemplate>
                        <Flex Gap="FlexGap.Small">
                            <Switch @bind-Checked="provider.Enabled" />
                            <Button Type="ButtonType.Text" Icon="@IconType.Outline.Close" Size="ButtonSize.Small" Danger OnClick="() => RemoveProvider(provider)"/>
                        </Flex>
                    </ExtraTemplate>
                    <ChildContent>
                        <ProviderEditorPanel Provider="provider" />
                    </ChildContent>
                </Panel>
            }
        </Collapse>

        <Flex Justify="FlexJustify.End">
            <Button OnClick="AddProvider">Add Provider</Button>
        </Flex>
    </Flex>
</PageContent>
    
@if (Providers.Any(p => p.Type == LoggingProviderType.SignalR && p.Enabled))
{
    <PageHeader Title="Log Viewer" />
    <PageContent Style="padding-bottom: 24px;">
        <div style="padding: 8px; background: #000">
            <LANCommander.Server.UI.Pages.Settings.Logs.Components.LogViewer/>
        </div>
    </PageContent>
}

@code {
    Settings Settings = SettingService.GetSettings();

    List<LoggingProvider> Providers = new();

    protected override void OnInitialized()
    {
        Providers = Settings.Logs.Providers.ToList();
    }

    void Save()
    {
        try
        {
            Settings.Logs.Providers = Providers;
            
            SettingService.SaveSettings(Settings);
            
            MessageService.Success("Settings saved!");
        }
        catch (Exception ex)
        {
            MessageService.Error("An unknown error occurred.");
            Logger.LogError(ex, "An unknown error occurred.");
        }
    }

    void AddProvider()
    {
        Providers.Add(new LoggingProvider()
        {
            Type = LoggingProviderType.Console,
            Enabled = true,
            Name = "Console"
        });
    }

    void RemoveProvider(LoggingProvider provider)
    {
        Providers.Remove(provider);
    }
}