@model LANCommander.Models.GameViewModel

@{
    ViewData["Title"] = "Add Game";
}

<div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="page-title">
                    Add Game
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="page-body">
    <div class="container-xl">
        <div class="row row-cards">
            <div class="col-12">
                <form asp-action="Add" class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="mb-3">
                                    <label asp-for="Game.Title" class="control-label"></label>
                                    <div class="input-group">
                                        <input asp-for="Game.Title" class="form-control" />
                                        <button class="btn" type="submit" asp-action="Lookup">Lookup</button>
                                    </div>
                                    <span asp-validation-for="Game.Title" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Game.SortTitle" class="control-label"></label>
                                    <input asp-for="Game.SortTitle" class="form-control" />
                                    <span asp-validation-for="Game.SortTitle" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Game.Description" class="control-label"></label>
                                    <textarea asp-for="Game.Description" class="form-control" data-bs-toggle="autosize"></textarea>
                                    <span asp-validation-for="Game.Description" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Game.ReleasedOn" class="control-label"></label>
                                    <input asp-for="Game.ReleasedOn" class="form-control" />
                                    <span asp-validation-for="Game.ReleasedOn" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Developers" class="control-label"></label>
                                    <input type="text" class="developer-select" />
                                    <select asp-for="Developers" asp-items="Model.Developers" class="d-none"></select>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Publishers" class="control-label"></label>
                                    <input type="text" class="publisher-select" />
                                    <select asp-for="Publishers" asp-items="Model.Publishers" class="d-none"></select>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="Genres" class="control-label"></label>
                                    <input type="text" class="genre-select" />
                                    <select asp-for="Genres" asp-items="Model.Genres" class="d-none"></select>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="Tags" class="control-label"></label>
                                    <input type="text" class="tag-select" />
                                    <select asp-for="Tags" asp-items="Model.Tags" class="d-none"></select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="d-flex">
                            <a asp-action="Index" class="btn btn-ghost-primary">Cancel</a>
                            <button type="submit" class="btn btn-primary ms-auto">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        var developers = @Html.Raw(Json.Serialize(Model.Developers));
        var publishers = @Html.Raw(Json.Serialize(Model.Publishers));
        var genres = @Html.Raw(Json.Serialize(Model.Genres));
        var tags = @Html.Raw(Json.Serialize(Model.Tags));

        function selectize(selector, options) {
            var selected = [];

            for (let option of options) {
                if (option.selected)
                    selected.push(option.value);
            }

            $(selector).val(selected.join('|'));

            $(selector).selectize({
                delimiter: '|',
                plugins: ['remove_button'],
                create: true,
                valueField: 'value',
                labelField: 'text',
                searchField: 'text',
                options: options,
                onItemAdd: function(value) {
                    for (let option of Object.values(this.options)) {
                        if (option.value == value)
                        {
                            this.$input.siblings('select').append(`<option value="${option.value}" selected>${option.text}</option>`);
                        }
                    }
                },
                onItemRemove: function(value) {
                    for (let option of Object.values(this.options)) {
                        if (option.value == value)
                        {
                            this.$input.siblings('select').find(`option[value="${option.value}"]`).remove();
                        }
                    }
                },
                onInitialize: function() {
                    for (let option of Object.values(this.options)) {
                        if (option.selected)
                        {
                            this.$input.siblings('select').append(`<option value="${option.value}" selected>${option.text}</option>`);
                        }
                    }
                }
            });
        }

        selectize('.developer-select', developers);
        selectize('.publisher-select', publishers);
        selectize('.genre-select', genres);
        selectize('.tag-select', tags);
    </script>
}
