<div class="pane @Class" data-size="@Size">
    @ChildContent
</div>

@code {
    [CascadingParameter] public SplitPane Parent { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public string Size { get; set; } = "50%";
}
