<Sider Width="200">
    <Flex Vertical Style="height: 100%;">
        <div class="logo"><img src="/static/logo-cut.svg"></div>

        <Flex Vertical Gap="FlexGap.Small" Style="flex-grow: 1" Justify="FlexJustify.SpaceBetween">
            <MainMenu />

            <Social />
        </Flex>
    </Flex>
</Sider>