@inject IJSRuntime JS

<CascadingValue Value="this" IsFixed="@true">
    <div id="split-pane-@(PaneId.ToString())" class="split-pane">
        @ChildContent
    </div>
</CascadingValue>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string Class { get; set; } = "";

    private IList<LANCommander.Server.UI.Components.Pane> Panes = new List<LANCommander.Server.UI.Components.Pane>();

    private Guid PaneId = Guid.NewGuid();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JS.InvokeVoidAsync("SplitPane.Init", PaneId);
    }
}