.downloader {
    max-width: 512px;

    &-current {
        display: flex;
    }
    
    &-current-icon img {
        width: 32px;
        height: 32px;
        object-fit: contain;
    }

    &-current-info {
        flex-grow: 1;
    }
}

.download-queue {
    top: 100%;
    transition: .3s all;
    z-index: 9999 !important;

    &.ant-drawer-open {
        top: 0;
    }

    .ant-drawer-mask {
        position: fixed;
    }

    .ant-drawer-content-wrapper {
        height: calc(100% - 128px) !important;
        transform: none !important;
    }
}
