.downloader {
    background: #1f1f1f;
}

.download-queue {
    top: 100%;
    transition: .3s all;
    z-index: 9999 !important;

    &.ant-drawer-open {
        top: 0;
    }

    .ant-drawer-mask {
        position: fixed;
    }

    .ant-drawer-content-wrapper {
        height: calc(100% - 128px) !important;
        transform: none !important;
    }
}
