body {
    background: #000;
}

app {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ant-layout {
    flex-grow: 1;
    overflow: hidden;
}

.logo {
    position: fixed;
    width: 333px;
    height: 74px;
    z-index: 1000;
    pointer-events: none;

    & > img {
        width: 100%;
    }
}