@using LANCommander.Client.Models
@inject DownloadService DownloadService
@inject SDK.Client Client

<footer>
    <div class="downloader">
        @if (CurrentQueueItem != null)
        {
            <div>@CurrentQueueItem.Title</div>
            <div>@CurrentQueueItem.Version</div>
            <Progress Percent="(CurrentQueueItem.Progress * 100)" />
        }
        else
        {
            <div>Fallout 3</div>
            <div>v1.0.0</div>
            <Progress Percent="56" />
        }
    </div>
</footer>

@code {
    IDownloadQueueItem CurrentQueueItem = null;

    protected override async Task OnInitializedAsync()
    {
        Client.Games.OnArchiveExtractionProgress += (long position, long length, SDK.Models.Game game) =>
        {
            CurrentQueueItem = DownloadService.Queue.OrderByDescending(qi => qi.QueuedOn).FirstOrDefault(qi => qi.State);

            CurrentQueueItem.BytesDownloaded = position;
            CurrentQueueItem.TotalBytes = length;

            InvokeAsync(StateHasChanged);
        };

        Client.Games.OnArchiveEntryExtractionProgress += (object sender, SDK.ArchiveEntryExtractionProgressArgs e) =>
        {
            InvokeAsync(StateHasChanged);
        };

        DownloadService.OnQueueChanged += () =>
        {
            CurrentQueueItem = DownloadService.Queue.OrderByDescending(qi => qi.QueuedOn).FirstOrDefault(qi => qi.State);

            InvokeAsync(StateHasChanged);
        };
    }
}
