@page "/Games/{id:guid}/Actions"
@attribute [Authorize(Roles = RoleService.AdministratorRoleName)]
@inject ArchiveClient ArchiveClient

<GameEditView Id="Id" Title="Actions">
    <TitleExtraTemplate>
        <Space Direction="SpaceDirection.Horizontal">
            <SpaceItem>
                <Button Type="ButtonType.Primary" OnClick="ActionEditor.Save">Save</Button>
            </SpaceItem>
        </Space>
    </TitleExtraTemplate>

    <ChildContent>
        <ActionEditor @ref="ActionEditor" GameId="Id" ArchiveId="ArchiveId" />
    </ChildContent>
</GameEditView>

@code {
    [Parameter] public Guid Id { get; set; }

    Guid ArchiveId = Guid.Empty;

    ActionEditor ActionEditor;

    protected override async Task OnInitializedAsync()
    {
        var latestArchive = await ArchiveClient.GetLatestArchive(a => a.GameId == Id);

        if (latestArchive != null)
            ArchiveId = latestArchive.Id;
    }
}
