@page "/Games/{id:guid}/CustomFields"
@attribute [Authorize(Roles = RoleService.AdministratorRoleName)]

<GameEditView Id="Id" Title="Custom Fields">
    <TitleExtraTemplate>
        <Flex Gap="FlexGap.Small" Justify="FlexJustify.End">
            <Button Type="ButtonType.Primary" OnClick="_customFieldEditor.Save">Save</Button>
        </Flex>
    </TitleExtraTemplate>
    
    <ChildContent>
        <CustomFieldEditor @ref="_customFieldEditor" />
    </ChildContent>
</GameEditView>

@code {
    [Parameter] public Guid Id { get; set; }

    CustomFieldEditor _customFieldEditor;
}
