@page "/Games/{id:guid}/Multiplayer"
@attribute [Authorize(Roles = RoleService.AdministratorRoleName)]

<GameEditView Id="Id" Title="Multiplayer">
    <TitleExtraTemplate>
        <Flex Gap="FlexGap.Small" Justify="FlexJustify.End">
            <Button Type="ButtonType.Primary" OnClick="_multiplayerModeEditor.Save">Save</Button>
        </Flex>
    </TitleExtraTemplate>
    
    <ChildContent>
        <MultiplayerModeEditor @ref="_multiplayerModeEditor" />
    </ChildContent>
</GameEditView>

@code {
    [Parameter] public Guid Id { get; set; }

    MultiplayerModeEditor _multiplayerModeEditor;
}
