@page "/Games/{id:guid}/SavePaths"
@attribute [Authorize(Roles = RoleService.AdministratorRoleName)]

<GameEditView Id="Id" Title="Save Paths">
    <TitleExtraTemplate>
        <Flex Gap="FlexGap.Small" Justify="FlexJustify.End">
            <Button Type="ButtonType.Primary" OnClick="_savePathEditor.Save">Save</Button>
        </Flex>
    </TitleExtraTemplate>
    
    <ChildContent>
        <SavePathEditor @ref="_savePathEditor" />
    </ChildContent>
</GameEditView>

@code {
    [Parameter] public Guid Id { get; set; }

    SavePathEditor _savePathEditor;
}
