<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LANCommander</title>
    <link href="~/css/tabler.min.css" rel="stylesheet" />
    <link href="~/lib/selectize.js/css/selectize.bootstrap5.min.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/selectize.js/js/selectize.min.js"></script>
    <script src="~/lib/tabler/core/dist/js/tabler.min.js"></script>
    <script src="~/js/Modal.js"></script>
    <script src="~/js/Select.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
