<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LANCommander</title>
    <base href="~/" />
    <link href="_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/antv/g2plot/dist/g2plot.js"></script>
    <script src="~/_content/AntDesign/js/ant-design-blazor.js"></script>
    <script src="~/_content/AntDesign.Charts/ant-design-charts-blazor.js"></script>
    <script src="~/js/site.js"></script>

    <script>
        $('input[type="checkbox"]').on('change', function() {
            var checked = $(this).prop('checked');

            if (checked) {
                $(this).parents('.ant-checkbox-wrapper').addClass('ant-checkbox-wrapper-checked');
                $(this).parents('.ant-checkbox').addClass('ant-checkbox-checked');
            }
            else {
                $(this).parents('.ant-checkbox-wrapper').removeClass('ant-checkbox-wrapper-checked');
                $(this).parents('.ant-checkbox').removeClass('ant-checkbox-checked');
            }
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
