<div class="col-3 d-none d-md-block border-end">
    <div class="card-body">
        <div class="list-group list-group-transparent">
            <a asp-action="General" asp-controller="Settings" class="list-group-item list-group-item-action d-flex align-items-center">General</a>
            <a asp-action="Users" asp-controller="Settings" class="list-group-item list-group-item-action d-flex align-items-center">Users</a>
        </div>
    </div>
</div>