@use 'Variables';

.depot-game-details {
    z-index: 600 !important;
    display: flex;
    justify-content: center;
    align-items: end;

    .ant-drawer-mask {
        background: linear-gradient(45deg, #00000096, #3a3a3a8a);
        backdrop-filter: blur(3px);
        z-index: auto;
    }

    .ant-drawer-content {
        background: #000;
    }

    .ant-drawer-header-no-title {
        display: none;
    }

    .ant-drawer-content-wrapper {
        position: relative;
        height: calc(100% - 128px) !important;
        width: 100%;
        max-width: Variables.$hero-aspect-ratio * Variables.$hero-max-height;
        right: auto;
        box-shadow: none;
    }

    .ant-drawer-open .ant-drawer-content-wrapper {
        box-shadow: 0 0 64px black;
    }

    .ant-drawer-body {
        padding: 0;

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    .game-hero {
        position: relative;
        aspect-ratio: Variables.$hero-aspect-ratio;
        height: Variables.$hero-max-height;
    }

    &-background {
        object-fit: cover;
        max-height: 20vw;
    }

    .game-details-close-btn {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 100;
    }
}