@page "/Servers/{id:guid}/Actions"
@using LANCommander.Server.UI.Pages.Servers.Components

<ServerEditView Id="Id" Title="Actions">
    <TitleExtraTemplate>
        <Flex Align="FlexAlign.Center" Justify="FlexJustify.End" Wrap="FlexWrap.NoWrap" Gap="FlexGap.Small">
            @if (context != null && context.Id != Guid.Empty)
            {
                <ServerControl ServerId="context.Id"/>
                
                <Button Type="ButtonType.Primary" OnClick="_actionEditor.Save">Save</Button>
            }
        </Flex>
    </TitleExtraTemplate>
    
    <ChildContent>
        <CascadingValue Name="ServerId" Value="context.Id">
            <ActionEditor @ref="_actionEditor" />
        </CascadingValue>
    </ChildContent>
</ServerEditView>

@code {
    [Parameter] public Guid Id { get; set; }

    ActionEditor _actionEditor;
}