@page "/Servers/{id:guid}/Actions"
@using LANCommander.Server.UI.Pages.Servers.Components

<ServerEditView Id="Id" Title="Actions">
    <TitleExtraTemplate>
        @if (context != null && context.Id != Guid.Empty)
        {
            <Flex Align="FlexAlign.Center" Justify="FlexJustify.End" Wrap="FlexWrap.NoWrap" Gap="FlexGap.Small">
                <ServerControl ServerId="context.Id" />
            </Flex>
        }
    </TitleExtraTemplate>
    
    <ChildContent>
        <CascadingValue Name="ServerId" Value="context.Id">
            <ActionEditor @ref="_actionEditor" />
        </CascadingValue>

        <Button Type="@ButtonType.Primary" OnClick="_actionEditor.Save" Icon="@IconType.Fill.Save">Save</Button>
    </ChildContent>
</ServerEditView>

@code {
    [Parameter] public Guid Id { get; set; }

    ActionEditor _actionEditor;
}