@page "/Servers/{id:guid}/Consoles"
@using LANCommander.Server.UI.Pages.Servers.Components

<ServerEditView Id="Id" Title="Consoles">
    <TitleExtraTemplate>
        @if (context != null && context.Id != Guid.Empty)
        {
            <Flex Align="FlexAlign.Center" Justify="FlexJustify.End" Wrap="FlexWrap.NoWrap" Gap="FlexGap.Small">
                <ServerControl ServerId="context.Id" />
                
                <Button Type="ButtonType.Primary" OnClick="_serverConsoleEditor.Save">Save</Button>
            </Flex>
        }
    </TitleExtraTemplate>
    
    <ChildContent>
        <ServerConsoleEditor @ref="_serverConsoleEditor" ServerId="Id" />
    </ChildContent>
</ServerEditView>

@code {
    [Parameter] public Guid Id { get; set; }

    ServerConsoleEditor _serverConsoleEditor;
}