@using LANCommander.Server.Data
@using LANCommander.Server.Settings.Enums
@using LANCommander.Server.Services.Abstractions
@inject NavigationManager NavigationManager
@inject IVersionProvider VersionProvider

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    
    <link href="/_content/AntDesign/css/ant-design-blazor.dark.css?v=@v" rel="stylesheet" />
    <link rel="stylesheet" href="_content/XtermBlazor/XtermBlazor.min.css?v=@v"  />
    <link rel="stylesheet" href="_content/PSC.Blazor.Components.MarkdownEditor/css/markdowneditor.css?v=@v" />
    <link rel="stylesheet" href="_content/PSC.Blazor.Components.MarkdownEditor/css/easymde.min.css?v=@v" />
    <link rel="stylesheet" href="_content/LANCommander.UI/ui.css?v=@v" />
    <link rel="stylesheet" href="css/app.css?v=@v" />
    <link rel="stylesheet" href="css/custom.css?v=@v" />
</head>
<body data-theme="dark">


    <div class="page-wrapper">
        <AntContainer @rendermode="InteractiveServer" />
        <LocalTimeInitializer @rendermode="InteractiveServer" />

        <Routes @rendermode="new InteractiveServerRenderMode(prerender: false)" />
    </div>

    <script antblazor-js></script>
    <script src="lib/antv/g2plot/dist/g2plot.js?v=@v"></script>
    <script src="_content/AntDesign.Charts/ant-design-charts-blazor.js?v=@v"></script>
    <script src="_framework/blazor.web.js?v=@v"></script>

    <script type="module" src="_content/LANCommander.UI/bundle.js?v=@v"></script>
    <script src="_content/PSC.Blazor.Components.MarkdownEditor/js/easymde.min.js?v=@v"></script>
    <script src="_content/PSC.Blazor.Components.MarkdownEditor/js/markdownEditor.js?v=@v"></script>

    <script src="_content/XtermBlazor/XtermBlazor.min.js?v=@v"></script>

    <script src="_content/BlazorMonaco/jsInterop.js?v=@v"></script>
    <script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/loader.js?v=@v"></script>
    <script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/editor/editor.main.js?v=@v"></script>
</body>
</html>

@code {
    private string v => VersionProvider.GetCurrentVersion().ToString();

    protected override async Task OnInitializedAsync()
    {
        if (DatabaseContext.Provider == DatabaseProvider.Unknown && !NavigationManager.Uri.Contains("/FirstTimeSetup"))
        {
            NavigationManager.NavigateTo("/FirstTimeSetup", true);
        }
    }
}