@using LANCommander.Server.Data
@using LANCommander.Server.Settings.Enums
@inject NavigationManager NavigationManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    
    <link href="/_content/AntDesign/css/ant-design-blazor.dark.css" rel="stylesheet" />
    <link rel="stylesheet" href="_content/XtermBlazor/XtermBlazor.min.css"  />
    <link rel="stylesheet" href="_content/PSC.Blazor.Components.MarkdownEditor/css/markdowneditor.css" />
    <link rel="stylesheet" href="_content/PSC.Blazor.Components.MarkdownEditor/css/easymde.min.css" />
    <link rel="stylesheet" href="_content/LANCommander.UI/ui.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/custom.css" />
</head>
<body data-theme="dark">


    <div class="page-wrapper">
        <AntContainer @rendermode="InteractiveServer" />
        <LocalTimeInitializer @rendermode="InteractiveServer" />

        <Routes @rendermode="new InteractiveServerRenderMode(prerender: false)" />
    </div>

    <script antblazor-js></script>
    <script src="lib/antv/g2plot/dist/g2plot.js"></script>
    <script src="_content/AntDesign.Charts/ant-design-charts-blazor.js"></script>
    <script src="_framework/blazor.web.js"></script>

    <script src="_content/LANCommander.UI/bundle.js"></script>
    <script src="_content/PSC.Blazor.Components.MarkdownEditor/js/easymde.min.js"></script>
    <script src="_content/PSC.Blazor.Components.MarkdownEditor/js/markdownEditor.js"></script>

    <script src="_content/XtermBlazor/XtermBlazor.min.js"></script>

    <script src="_content/BlazorMonaco/jsInterop.js"></script>
    <script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/loader.js"></script>
    <script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/editor/editor.main.js"></script>
</body>
</html>

@code {
    protected override async Task OnInitializedAsync()
    {
        if (DatabaseContext.Provider == DatabaseProvider.Unknown && !NavigationManager.Uri.Contains("/FirstTimeSetup"))
        {
            NavigationManager.NavigateTo("/FirstTimeSetup", true);
        }
    }
}